h1 {
  border-bottom: 1px solid black;
  padding: 10px;
  margin-bottom: 40px;
}

.hangman_container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
}

.isWinner,
isLoser {
  border: 1px solid black;
  padding: 20px 40px;
  font-size: 24px;
  border-radius: 10px;
  background-color: #7cffb9;
}
